<!DOCTYPE html>
<html>
	<head>
		<link href="/public/LogedIn.css" rel="stylesheet" type="text/css" />
		<title>Mega Coll Blog</title>
	</head>
	<body>
		<header>
			<h1>Mega cool Blog</h1>
		</header>
		
		<p>Welcome <%=Username%>.</p>
		<p>Make a new post to your blog here:</p>
		<form id="Post" action="/Post" method="POST">
		<textarea id="Post" name ="Post" rows="20"></textarea>
		<input type="hidden" name="validation" value=1></br>
		<button>Post</button>
		</form>
		
		<p>Your blog.<p>
		
		<% for(var i=0; i<post.length; i++){%>
			<li><%var lines = post[i].Post.split('\n');
				for (var k = 0;k < lines.length; k++){
					%><%=lines[k]%><br/>
				<%}%>
				<br/><br/><br/>
				</li>
			<%}%>
		<footer>
			Creator: Konstantin Tomov , Contact: KTomov@gmail.com
		</footer>
	</body>
</html>